      /* GENERAL */

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content-display{
    max-width: 1440px;
    min-width: 925px;
    margin: auto;
}

.apple-icon{
    background-image: url(../img/apple.svg);
    background-position: center 2px;
}

.store{
    background-image: url(../img/apple.svg);
    background-position: center 12.5%;
}

.mac{
    background-image: url(../img/apple.svg);
    background-position: center 27.1%;
}

.ipod{
    background-image: url(../img/apple.svg);
    background-position: center 41.7%;
}

.iphone{
    background-image: url(../img/apple.svg);
    background-position: center 56.3%;
}

.ipad{
    background-image: url(../img/apple.svg);
    background-position: center 70.9%;
}

.itunes{
    background-image: url(../img/apple.svg);
    background-position: center 86%;
}

.support{
    background-image: url(../img/apple.svg);
    background-position: center 100.7%;
}




      /* Main Section Style */
main {
    background-image: url("../img/hero.jpg");
    background-position: center bottom;
    height: 538px;
    margin: 1px;
}

.navbar {
    width: 980px;
    height: 36px;
    display: flex;
    margin: 50px auto;
}

.nav-list{
    display: flex;
    flex-grow: 1;
    max-width: 848px;
}



.nav-list li{
    width: 12.5%;
    height: 36px;
    background-color: darkcyan;
}

.search{
    display: inline-block;
    width: 50px;
}



   /* Promo Section */

section {
    background-color: blue;
    display: flex;
    height: 200px;
    
}
.iphoneRose {
    background-image: url("../img/iphone.jpg");
}

.iphoneBlack {
    background-image: url("../img/iphonecolor.jpg");
}

.mac30 {
    background-image: url("../img/mac.jpg");
}

.responsibility {
    background-image: url("../img/responsibility.jpg");
}

.promo-item{
    margin: 1px;
    background-color: rgb(243, 8, 125);
    height: 200px;
    width: 25%;
    background-position: center center;
}

        /* Footer */

footer {
    margin: 2px auto;
    width: 980px;
    height: 90px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 10px;
    padding: 16px 0px 0px 0px;
    color: #6E6E6E;
}

footer ul {
    display: flex;
    align-items: center;
}

footer li {
    border-right: 1px solid rgb(204, 204, 204);
    padding: 0px 8px;
}

.float-right {
    text-align: right;
    float: right;
    padding: 5px 0px;
}

.copyright {
    clear: right;
    display: flex;
}

footer p {
    display: inline-block;
    padding: 9px 0px;
}

footer a {
    text-decoration: none;
    color: #0088CC;
}

a:hover {
    text-decoration: underline;
} 

.no-border{
    border: none;
}











