      /* GENERAL */

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content-display{
    max-width: 1440px;
    min-width: 925px;
    margin: auto;
}

      /* Main Section Style */
main {
    background-image: url("../img/hero.jpg");
    background-position: center bottom;
    height: 538px;
    margin: 1px;
}

   /* Aside Section */

section {
    background-color: blue;
    display: flex;
    height: 200px;
    
}
.iphoneRose {
    background-image: url("../img/iphone.jpg");
}

.iphoneBlack {
    background-image: url("../img/iphonecolor.jpg");
}

.mac30 {
    background-image: url("../img/mac.jpg");
}

.responsibility {
    background-image: url("../img/responsibility.jpg");
}

.promo-item{
    margin: 1px;
    background-color: rgb(243, 8, 125);
    height: 200px;
    width: 25%;
    background-position: center center;
}

footer {
    margin: 2px auto;
    background-color: cadetblue;
    width: 980px;
    height: 90px;
}








